USE [master]
GO
/****** Object:  Database [BD_INMUEBLES]    Script Date: 30/09/2024 3:22:57 ******/
CREATE DATABASE [BD_INMUEBLES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_INMUEBLES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_INMUEBLES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_INMUEBLES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_INMUEBLES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_INMUEBLES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_INMUEBLES]
GO
/****** Object:  Table [dbo].[INMUEBLE]    Script Date: 30/09/2024 3:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INMUEBLE](
	[cinmueble] [int] IDENTITY(1,1) NOT NULL,
	[ctipo_inmueble] [int] NOT NULL,
	[vendedor] [varchar](100) NOT NULL,
	[habitaciones] [int] NOT NULL,
	[flag_disponible] [bit] NOT NULL,
	[flag_mascota] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[ucreacion] [int] NULL,
	[fcreacion] [datetime] NULL,
	[umodificacion] [int] NULL,
	[fmodificacion] [datetime] NULL,
 CONSTRAINT [PK_INMUEBLE] PRIMARY KEY CLUSTERED 
(
	[cinmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INMUEBLE]    Script Date: 30/09/2024 3:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INMUEBLE](
	[ctipo_inmueble] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](150) NOT NULL,
	[eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_TIPO_INMUEBLE] PRIMARY KEY CLUSTERED 
(
	[ctipo_inmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_TIPO_INMUEBLE] FOREIGN KEY([ctipo_inmueble])
REFERENCES [dbo].[TIPO_INMUEBLE] ([ctipo_inmueble])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_TIPO_INMUEBLE]
GO
/****** Object:  StoredProcedure [dbo].[List_Inmob]    Script Date: 30/09/2024 3:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[List_Inmob]
@vendedor varchar(100)
AS
--- Creacion Marcelo Uriarte (MU)
--- Lista tabla Inmueble
BEGIN
	SELECT cinmueble,ctipo_inmueble,vendedor,habitaciones,flag_disponible,flag_mascota
	FROM INMUEBLE
	where eliminado=0 and vendedor = @vendedor
END
GO
/****** Object:  StoredProcedure [dbo].[List_TipoInmob]    Script Date: 30/09/2024 3:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[List_TipoInmob]
AS
--- Creacion Marcelo Uriarte (MU)
--- Lista tabla Tipos de Inmueble
BEGIN
	SELECT ctipo_inmueble,descripcion
	FROM TIPO_INMUEBLE
END
GO
/****** Object:  StoredProcedure [dbo].[Mant_Inmob]    Script Date: 30/09/2024 3:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mant_Inmob]
@cinmueble int,
@ctipo_inmueble int,
@vendedor varchar(100),
@cant_habit int,
@disponible bit,
@mascota bit,
@cusuario int
--- Creacion Marcelo Uriarte (MU)
--- Creacion o Modificacion tabla Inmueble
AS
BEGIN
	declare @retorno nvarchar(400)=''
	declare @codigo int = 200
	set @retorno='OK'
	BEGIN TRY
		IF @cinmueble = 0
		BEGIN
			INSERT INTO INMUEBLE(ctipo_inmueble,vendedor,habitaciones,flag_disponible,flag_mascota,eliminado,ucreacion,fcreacion)
			select @ctipo_inmueble,@vendedor,@cant_habit,@disponible,@mascota,0,@cusuario,GETDATE()
		END
		ELSE IF @cinmueble <> 0
		BEGIN
			UPDATE IM
			SET	IM.vendedor=@vendedor,
				IM.habitaciones = @cant_habit,
				IM.flag_disponible = @disponible,
				IM.flag_mascota = @mascota
			FROM INMUEBLE IM
			WHERE IM.cinmueble = @cinmueble and IM.eliminado = 0
		END
	END TRY
	BEGIN CATCH
		SET @retorno = ERROR_MESSAGE()
		SET @codigo=ERROR_NUMBER()
	END CATCH
	select @codigo as CODIGO,@retorno as MENSAJE
END
GO
USE [master]
GO
